{% extends 'auth.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4 mx-4">
                    <div class="card-body p4">
                        {% include '_flashes.html.twig' %}

                        <h1>Password Reset</h1>

                        {{ form_start(form) }}

                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="cil-lock-locked"></i>
                            </span>
                            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <div class="col-12 d-grid gap-2">
                            <button type="submit" class="btn btn btn-success">Set Password</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}