{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">
        <span>Dashboard</span>
    </li>
{% endblock %}

{% block body %}
    <h1>Hello World!</h1>
{% endblock %}